.search-step {
  background: #e6e6e6;
  height: 6rem;
  line-height: 3rem;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin: 8px 25px 8px 8px;

  &:not(.mobile) {
    &:not(:first-child) {
      &::before {
        content: "";
        position: absolute;
        right: 100%;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 2rem solid transparent;
        border-top: 3rem solid #e6e6e6;
        border-bottom: 3rem solid #e6e6e6;
      }
    }

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        left: 100%;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 2rem solid #e6e6e6;
        border-top: 3rem solid transparent;
        border-bottom: 3rem solid transparent;
      }
    }
  }

  &.done {
    background: #94ba06;

    &:not(.mobile) {
      &:not(:first-child) {
        &::before {
          border-top: 3rem solid #94ba06;
          border-bottom: 3rem solid #94ba06;
        }
      }
    }

    &:not(.mobile) {
      &:not(:last-child) {
        &::after {
          border-left: 2rem solid #94ba06;
        }
      }
    }
  }
}
