

.start {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%206%202%22%3E%3Cpath%20d%3D%22M%200%200%20H%200%20L%200%202%20V%202%20L%205%202%20H%205%20L%206%201%20L%205%200%20Z%22%20fill%3D%22%23fbb331%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: left center;
  background-size: 100% auto;
}

.done {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%206%202%22%3E%3Cpath%20d%3D%22M%200%200%20H%200%20L%200%202%20V%202%20L%205%202%20H%205%20L%206%201%20L%205%200%20Z%22%20fill%3D%22%23fbb331%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: left center;
  background-size: 100% auto;
}

.middle {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%206%202%22%3E%3Cpath%20d%3D%22M%200%200%20L%201%201%20L%200%202%20V%202%20L%205%202%20H%205%20L%206%201%20L%205%200%20Z%22%20fill%3D%22%23fbb331%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: left center;
  background-size: 100% auto;
}

.end {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%206%202%22%3E%3Cpath%20d%3D%22M%200%200%20L%201%201%20L%200%202%20V%202%20L%206%202%20H%206%20L%206%200%20Z%22%20fill%3D%22%23fbb331%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: left center;
  background-size: 100% auto;
}
